@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html,
body {
  scroll-behavior: smooth !important;
}

@media (prefers-reduced-motion) {
  html,
  body {
    scroll-behavior: normal !important;
  }
}

body {
  text-rendering: geometricPrecision;
  @apply text-base font-body text-black;
}

#__next > footer {
  top: 100vh;
  position: sticky;
}

/* Call to Action */
.primary-link {
  /* @apply px-[38px] py-[20px] text-base sm:text-lg font-semibold bg-black text-white rounded-full no-underline; */
}

.secondary-link {
  /* @apply transition-all text-lg font-semibold underline underline-offset-8 decoration-black hover:no-underline decoration-4; */
}

.inline-link {
  @apply hover:underline underline-offset-4 decoration-black decoration-solid;
}
/* End Call to Action */

